.tabs {
    clear: both;
    padding: 0;
    height: 55px;
    background: #fff;
    border: 1px solid #000;
}

.tab {
    height: 53px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.8;
    text-align: center;
    list-style-type: none;
    border-left: 1px solid #000;
    &:first-child {
        border-left: none;    
    }
    &.selected {
        color: #fff;
        background: $camping_green;
    }
}

.equipment-category-container {
    @extend .tabs;
    li {
        @extend .tab;
    }
}

.equipment-ajax-loader-wrapper {
    width: 100px;
    height: 90vh;
    .page-loader {
        @extend .loader;
        z-index: 0;
    }
}

.location-search-container {
    select {
        display: inline-block;
        width: 30%;
        float: none;
    }
    span {
        display: inline-block;
        text-align: center;
        width: 9%;
        float: none;
    }
    input {
        display: inline-block;
        width: 60%;
        float: none;
    }
}

.equipment-search-wrapper {
    margin-bottom: 20px;
    .search-form-container {
        .search-input {
            width: 80%;
            float: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .search-btn {
            width: 20%;
            float: right;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .equipment-date-search-container {
        i {
            font-size: 30px;
        }
        .caret {
            vertical-align: top;
            margin-top: 15px;
        }
    }
}
