$camping_green: #8FC485;

.equipment-show-wrapper {
	position: relative;	
	.modal-top-container {
		margin: 10px;
		h4 {
			text-align: center;
		}
	}
	.equipment-info-tabs {
		margin: 10px 0;
		> div {

		}
	}
}

.equipment-info-view {
	margin-top: 25px;
	.slider-wrapper {
		float: left;
		position: relative;
		width: 50%;
	}
	.equipment-info-container {
		width: 45%;
		float: right;
		.equipment-ratings-container {
			ul {			
				padding: 0;
				li {
					list-style: none;
					margin-bottom: 5px;
					p {
						margin: 0;
					}
					.star-container {
						padding: 0;
					}
				}
			}
		}
	}
}