$camping_green: #8FC485;

.equipment-show-wrapper {
	position: relative;	
	.modal-top-container {
		margin: 10px;
		h4 {
			text-align: center;
		}
	}
	.equipment-info-tabs {
		margin: 10px 0;
		> div {

		}
	}
}