<h1>User#password_reset</h1>

<p>
  	To reset your password, click the URL below.

	<a><%= "#{UserMailer.default_url_options[:host]}/forgot/#{@user.password_reset_token}" %></a>

	If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</p>
