<div id="fb-root"></div>

<%= react_router 'Routes', 'HistoryLocation' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<!-- Face Book SDK -->
<script>
  	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>" async defer></script>