$camping_green: #8FC485;

nav {
	background: $camping_green;
	.nav-title {
		color: #fff;
		text-align: right;
		font-size: 18px;
		padding: 11px 5px;
	}
	.nav-logo {
		width: 80px;
	    height: 63px;
	    margin: 5px 0 2px;
	    display: inline-block;
	    background: url(logo.png) no-repeat;
	    background-size: contain;
	}
	.logout-btn {
		font-size: 18px;
		margin: 14px 0;
		padding: 12px 15px;
	}
	.btn {
		position: relative;
    	background: transparent;
    	border: solid 2px #fff;
    	overflow: hidden;
	    -webkit-transition: color 0.5s ease;
		-moz-transition: color 0.5s ease;
		-o-transition: color 0.5s ease;
		-ms-transition: color 0.5s ease;
    	&:hover {
    		background-color: transparent;
    		border-color: #fff;
    		color: #8FC485;
    		z-index: 1;
    	}
    	&:after {
    		content: '';
    		position: absolute;
    		top: 0;
    		left: 0;
    		margin-left: -100%;
    		display: block;
    		background: #fff;
    		width: 100%;
    		height: 100%;
    		-webkit-transition: margin-left 0.5s ease;
  			-moz-transition: margin-left 0.5s ease;
  			-o-transition: margin-left 0.5s ease;
  			-ms-transition: margin-left 0.5s ease;
    	}
    	&:hover:after {
    		z-index: -1;
	    	margin-left: 0;
	    }
	}
	.session-container {
		margin: 18px 0;
		li {
			font-size: 18px;
			padding: 12px 15px;
		}
		li:first-child {
			margin-right: 10px;
		}
	}
	.equipment-owner-toggle {
    	width: 170px;
		margin: 14px 0;
    	text-align: center;
    	padding: 12px 0;
    	font-size: 18px;
	}
}