.owners-equipment-wrapper {

	.equipment-create-btn-container {
		padding: 0px 15px 15px;
	}

	.equipment-container {
		height: 500px;
		
		i {
			margin-right: 10px;
			font-size: 25px;
			&:first-child:hover {
				color: blue;
			}
			&:last-child:hover {
				color: red;
			}

		}

	}
	
}