// MODAL

$camping_green: #8FC485;
$fire_red: #ff6961;
$body_color: #EDEDED;
$gray_text_color: #676767;
$light_gray_text_color: #CCC;

// FONTS

@font-face {
    font-family: 'Lumberjack Inline Rough';
    src:url('Lumberjack Inline Rough.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lumberjack Shadow';
    src:url('Lumberjack Rough Shadow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lumberjack Rough';
    src:url('Lumberjack Rough.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: $body_color;
    font-family: 'Lumberjack Inline Rough';
}

a:hover {
    text-decoration: none;
    * {
        text-decoration: none;
    }
}

.modal {
    position: absolute;
    display: block;
    height: 80vh;
    top: 0;
    margin: 0 auto;
    width: 60vw;
    background: #fff;
    z-index: 2;
}

.mask {
    position: fixed;
    overflow-x: hidden; 
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

h3, h4, p, li {
    color: $gray_text_color;
}