// MODAL

$camping_green: #8FC485;

body {
    // overflow: hidden;
}

.modal {
    position: absolute;
    display: block;
    height: 80vh;
    top: 0;
    margin: 0 auto;
    width: 60vw;
    background: #fff;
    z-index: 2;
}

.mask {
    position: fixed;
    overflow-x: hidden; 
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    z-index: 1
}